{% extends "layout.html" %}

{% block title %}Lista de compras{% endblock %}

{% block content %}


{% load static %}

<div class="container" id="app">
    <br/>
    <div class="row">
        <div class="col"><h1>Lista de Compras</h1></div>
        <div class="col">
            <!-- navPagination -->
            <nav-pagination></nav-pagination>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <div class="row">
                        <div class="col-md-3">Data</div>
                        <div class="col-md-3">Valor</div>
                        <div class="col-md-2">Quant. Items</div>
                        <div class="col-md-2">Acões</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(purchase, key) in list">
                <td>
                    <div class="row">
                        <div class="col-md-3">[[purchase['createAt'] ]]</div>
                        <div class="col-md-3">[[purchase['amount'] ]]</div>
                        <div class="col-md-2">[[purchase['items'].length ]]</div>
                        <div class="col-md-2"><a href="#" @click.prevent="showItems(key)">Editar </a> | <a href="#" @click="excludePurchase([[purchase['id'] ]], key)">Excluir</a></div>
                    </div>
                    <div  :id="key" class="card" v-show="false">
                        <br>
                        <div class="col">
                        <table class="table table-sm">
                            <tbody>
                                <tr v-for="(item, keyItem) in purchase['items']">
                                    <td>[[ item['name'] ]]</td>
                                    <td>[[ item['quantity'] ]]</td>
                                    <td>[[ item['amount'] ]]</td>
                                    <td><a href="#" @click="excludeItemsPurchase([[ item['id'] ]], key, keyItem)">Excluir</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>



<script type="text/javascript" src="{% static '/order_control/js/lib/vue.js' %}"></script>
<script type="text/javascript" src="{% static '/order_control/js/purchases/vue_list.js' %}"></script>
<script type="text/javascript" src="{% static '/order_control/js/axiosGet_csrftoken.js' %}"></script>





{% endblock %}