<!DOCTYPE html>
<html lang="en">
<head>
    	{% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/order_control/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/order_control/css/style.css' %}" />
    <script type="text/javascript" src="{% static '/order_control/js/lib/jquery-1.11.0.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/lib/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/lib/bootstrap.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static '/order_control/js/handicraft.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/lib/ajax_setup.js' %}"></script>






    <style>
        .row-div {
            display: flex;
            justify-content: center;
        }
        /* Having some margin to make the two divs some distance */
        .row-div>div {
            margin-right: 50px;
        }
    </style>

</head>
<body>
      <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
            <nav class="navbar navbar-expand navbar-light form-control" style="background-color: #fff;">
                <!-- fee1feff -->
                <div class="mx-auto order-0">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link"  href="{% url 'order_control:homeView' %}"><span class="textMenu"> Home </span></a>
                      <!-- <a class="nav-item nav-link" href="/orders/"><span class="textMenu"> Pedidos </span></a> -->

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="order" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="textMenu"> Pedidos </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="order">
                         <a class="dropdown-item" href="/order/"><span class="textMenu"> Cadastrar </span></a>
                         <a class="dropdown-item" href="/order_create/"><span class="textMenu"> Cadastrar (Novo) </span></a>
                         <a class="dropdown-item" href="/orders/"><span class="textMenu"> Listar</span></a>
                        </div>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clients" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="textMenu"> Clientes </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="clients">
                         <a class="dropdown-item" href="/client/"><span class="textMenu"> Cadastrar </span></a>
                         <a class="dropdown-item" href="/clients/"><span class="textMenu"> Listar</span></a>
                        </div>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="purchases" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="textMenu"> Compras </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="purchases">
                          <a class="dropdown-item" href="/purchase/"><span class="textMenu"> Cadastrar</span></a>
                          <a class="dropdown-item" href="/purchases/"><span class="textMenu"> Listar</span></a>
                        </div>
                      </li>


                    </div>
                  </div>
                  </div>
            </nav>


        {% block content %} {% endblock %}

</body>

</html>