{% extends "layout.html" %}

{% block title %}Pedido do Cliente{% endblock %}
{% block content %}
     <script type="text/javascript">
         var clients = [];
     </script>
     {% for field in form.fields.client.queryset %}
        <script type="text/javascript">
            clients['{{ field.id }}'] = { name: '{{ field.name }}', picture: '{{ field.picture }}' };
        </script>
    {% endfor %}


    <div class="container" id="app">
        </br>
        <div class="row">
           <div id="head2" class="col-sm-9">
               <div class="row">
                   <div class="col">
                       <div class="form-group">
                           <select name="client" required id="id_client"
                                   class="form-control js-example-basic-single"
                                   v-model="client">
                               {% if order.client is none  %}
                                    <option value="0" disabled selected> Selecione o cliente</option>
                                    {% for field in form.fields.client.queryset %}
                                        <option value="{{ field.id }}">{{ field.name}}</option>
                                    {% endfor %}
                               {% endif %}
                           </select>
                        </div>
                   </div>
                   <div class="col">
                       <div class="form-group">

                           {{ form.deliveryAt }}
                            <div class="invalid-feedback">
                                {{ form.deliveryAt.errors }}
                            </div>
                            - <span style="padding-left:1%">Entregue:</span>

                            {{ form.delivered }}
                            <div class="invalid-feedback">
                                {{ form.delivered.errors }}
                            </div>
                       </div>
                   </div>
               </div>
               <div class="form-group">
                   {{ form.description }}
                   <div class="invalid-feedback">
                       {{ form.description.errors }}
                   </div>
               </div>


           </div>
           <div id="photo_client" class="col-sm-3" align="center">
               <img v-bind:src="'{{ MEDIA_URL}}'+ avatar"
                    class="img-thumbnail img-fluid"
                    width="100">
           </div>
        </div>

        <hr/>

        <div class="row" styole="border:solid">
           <div id="head" class="col-sm-9">
               <div class="row">
                   <div class="col">
                       <div class="form-group">
                            {{ box_top_form.type.label_tag }}
                            {{ box_top_form.type }}
                            <div class="invalid-feedback">
                                {{ box_top_form.type.errors }}
                            </div>
                       </div>
                   </div>
                   <div class="col">
                       <div class="form-group">
                           {{ box_top_form.storedIn.label_tag }}
                           {{ box_top_form.storedIn }}
                           <div class="invalid-feedback">
                               {{ box_top_form.storedIn.errors }}
                           </div>
                       </div>
                   </div>
               </div>

               <div class="row">
                   <div class="col">
                       <div class="form-group">
                            {{ box_top_form.theme }}
                            <div class="invalid-feedback">
                                {{ box_top_form.theme.errors }}
                            </div>
                       </div>
                   </div>

                   <div class="col">
                       <div class="form-group">
                            {{ box_top_form.birthdayName }}
                            <div class="invalid-feedback">
                                {{ box_top_form.birthdayName.errors }}
                            </div>
                       </div>
                   </div>
               </div>


                <div class="form-group">
                    <div class="form-control">
                        {{ box_top_form.amount.label_tag }}
                        {{ box_top_form.amount }}
                        <div class="invalid-feedback">
                            {{ box_top_form.amount.errors }}
                        </div>
                        <label> &nbsp&nbsp
                        </label>
                        {{ box_top_form.gift.label_tag }}
                        {{ box_top_form.gift }}
                        <div class="invalid-feedback">
                            {{ box_top_form.gift.errors }}
                        </div>
                        <label> &nbsp&nbsp&nbsp&nbsp
                        </label>
                        <label style="color:red"> [[message_gift_feed_back]]</label>
                    </div>

                </div>
               <div class="row">
            <div class="col-sm-6">
                {% csrf_token %}
                <div class="btn btn-primary" v-on:click="includeItem">[[ button ]]
                </div> <div class="btn btn-primary" v-on:click="salveOrder">Salvar</div>
            </div>
            <div class="col-sm-6">
                            <div class="form-control">
                                <label >Total de itens:  [[itemsQuantity]] </label>
                                <label>
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        Valor total: R$ [[formatPrice(totalOrder)]]
                                </label>
                            </div>
                        </div>
        </div>

           </div>

           <div id="photo" class="col-sm-3" align="center">
               <img v-bind:src="artPreview"
                    class="img-thumbnail img-fluid"
                    width="175" >
           </div>


        </div>



        <p/>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Tema</th>
                    <th>Aniversariante</th>
                    <th>Valor</th>
                    <th>Brinde</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, key) in items">
                    <td>[[ item['type'] ]]</td>
                    <td>[[ item['theme'] ]]</td>
                    <td>[[ item['birthdayName'] ]]</td>
                    <td>[[ formatPrice(item['amount']) ]]</td>
                    <td>[[ item['gift'] ? 'Sim' : 'Não' ]]</td>
                    <td>
                        <a href="#" @click="editItem(key)">Editar </a> | <a href="#" @click="excludeItem(key)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<div class="page-content page-container" id="page-content">
</div>

    {% load static %}

    <script type="text/javascript" src="{% static '/order_control/js/lib/vue.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/orders/vue_create_order.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/axiosGet_csrftoken.js' %}"></script>

    <script type="text/javascript">
         vm.loadClients(clients);
         vm.loadMediaAddress('{{ MEDIA_URL}}');
    </script>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
            $('#id_client').on('select2:select', function (e) {
                client_id = e.params.data.id;
                vm.selectedClient(client_id);
            });
        });
    </script>


{% endblock %}