{% extends "layout.html" %}

{% block title %}Excluir Item de Pedido{% endblock %}

{% block content %}
    <div class="container">
        </br>
        <h3>Excluir Item de Pedido </h3> </br></br>
        </br>

        <form action="{% url 'order_control:order_items_destroy' box_top.id %}" method="post">
            {% csrf_token %}
            <fieldset disabled>
                {% include 'order_control/order/birthday_box_form.html' %}
            </fieldset>

            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'order_control:order_destroy' box_top.order.id %}"> <div class="btn btn-primary">Voltar</div></a>
        </form>


    </div>
{% endblock %}