{% extends "layout.html" %}

{% block title %}Lista de Pedidos{% endblock %}

{% block content %}
    <div class="container">
        <h3>Lista de Pedidos</h3></br>
        <a href="{% url 'order_control:order_create' %}" class="btn btn-primary">Novo Pedido</a>
        <br/><br/>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Data Pedido</th>
                <th>Data Entrega</th>
                <th>Cliente</th>
                <th>Entregue</th>
                <th>Total Pedido</th>
                <th>Total Pago</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for order in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'order_control:order_detail' order.id %}">
                                <span class='label label-default' style='font-size:14px;' ><strong>{{ order.id }}</strong></span>
                        </a>
                    </td>
                    <td>{{ order.createdAt|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ order.deliveryAt|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ order.client.name }}</td>
                    <td>{% if order.delivered %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>
                    <td>{{ order.totalOrder }}</td>
                    <td>{{ order.totalPayment }}</td>
                    <td>
                        <a href="{% url 'order_control:order_update' order.id %}">Editar<a> |
                        <a href="{% url 'order_control:order_destroy' order.id %}">Excluir<a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}