{% extends "layout.html" %}

{% block title %}
    Detalhes do Cartão Dedelidade {{ loyatyCard.id }}
{% endblock %}

{% block content %}
<div class="container">
        <h3> Detalhes do Cartão Fidelidade</h3>
        </br>
        <div class="form-group">
            <div class="row">
                <div  id="head" class="col-sm-9" >
                    <div class='form-control'>
                        <span class='label label-default' style='font-size:11px;'>
                            <strong>
                                {% if loyatyCard.client.cakeMaker%}
                                    Boleira
                                {% else %}
                                    cliente
                                {% endif %}
                            </strong>
                        </span>
                        <span class='label label-default' style='font-size:14px;'  >
                            <a href="{% url 'order_control:client_detail'  loyatyCard.client.id %}">
                                <strong>{{ loyatyCard.client.name }}</strong>
                            </a>
                        </span>
                    </div>

                    <div class='form-control'>
                        <span class='label label-default' style='font-size:11px;'><strong>Cartão Fidelidade  </strong></span>
                        <span class='label label-default' style='font-size:14px;' ><strong>{{ loyatyCard.id }}</strong></span>
                    </div>

                    <div class='form-control'>
                            <input type="checkbox" id="delivered" v-model="isChecked">
                            <label for="delivered" style='font-size:12px;'> Entregue</label>
                    </div>

                    </br>
                    <div class='loyatyCard'  >
                        </br></br></br>
                        <div class="row  justify-content-md-center" style="padding-top: 30px;"    >
                            {% for adhesive in adhesives %}
                                {% if forloop.counter == 6 %}
                                    </div>
                                    <br/>
                                    <div class="row  justify-content-md-center" >
                                {% endif %}
                                     <div class="col" style="padding-left: 50px;">
                                        <div class="row">
                                            <a href="{% url 'order_control:order_items_details' adhesive.topOfCake.id %}">
                                                <div id="adhesive{{ adhesive.id}}" class="adhesive" ></div>
                                            </a>
                                        </div>
                                        <div class="row" style=" padding-top: 10px;">
                                            <span class='label label-default' style='font-size:11px;'>{{ adhesive.topOfCake.theme }}  </span>
                                        </div>
                                        <div class="row" style=" padding-top: 10px;">
                                            <span class='label label-default' style='font-size:11px;'>{{ adhesive.topOfCake.birthdayName|truncatechars:20 }}  </span>
                                        </div>
                                         <div class="row" style=" padding-top: 10px;">
                                            <span class='label label-default' style='font-size:11px;'>{{ adhesive.topOfCake.order.deliveryAt|date:"SHORT_DATE_FORMAT" }}  </span>
                                        </div>
                                     </div>
                            {% endfor %}
                        </div>
                        </br></br></br></br>
                    </div>
                </div>
            </div>
        </div>
</div>


{% load static %}
<script type="text/javascript" src="{% static '/order_control/js/lib/vue.js' %}"></script>
<script>
        new Vue ({
            delimiters: ["[[", "]]"],
            el: "#delivered",
            data: {
                isChecked: {{ loyatyCard.isDelivered|lower }},
            },
            watch: {
                isChecked: function (val, oldVal) {
                    $.ajax({
                        "type": "POST",
                        "dataType": "json",
                        "url": "update/",
                        "data": {'message': this.isChecked},
                        "success": function(message) {
                            console.log('new: %s, old: %s', val, oldVal);
                        },
                     });
                }
            },
        })
</script>

{% endblock %}