<div class="form-group">
    {{ form.name.label_tag }}
    {{ form.name }}
    <div class="invalid-feedback">
        {{ form.name.errors }}
    </div>
</div>

<div class="form-group">
    {{ form.phone.label_tag }}
    {{ form.phone }}
    <div class="invalid-feedback">
        {{ form.phone.errors }}
    </div>
</div>

<div class="form-group">
    {{ form.picture.label_tag }}
    {{ form.picture }}

    <div class="invalid-feedback">
        {{ form.picture.errors }}
    </div>
</div>

<div class="form-group">
    {{ form.cakeMaker.label_tag }}
    {{ form.cakeMaker }}
    <div class="invalid-feedback">
        {{ form.cakeMaker.errors }}
    </div>
</div>
