{% extends "layout.html" %}

{% block title %}Lista de clientes{% endblock %}

{% block content %}
    <div class="container">
        <h3>Lista de Clientes</h3></br>
        <a href="{% url 'order_control:client_create' %}" class="btn btn-primary">Novo Cliente</a>
        <br/><br/>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Boleira</th>
                <th>Balanço</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for client in object_list %}
                <tr>
                    <td><a href="{% url 'order_control:client_detail' client.id %}">{{ client.id }}<a></td>
                    <td>{{ client.name }}</td>
                    <td>({{ client.phone|slice:"0:2"}}) {{ client.phone|slice:"2:7"}}-{{ client.phone|slice:"7:"}}</td>
                    <td>{% if  client.cakeMaker %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>
                    <!-- <td><img src="{{ MEDIA_URL}}{{ client.picture }}" width="50" height="60" ></td> -->
                    <td>{{ client.balance }}</td>
                    <td>
                        <a href="{% url 'order_control:client_update' client.id %}">Editar</a> |
                        <a href="{% url 'order_control:client_destroy' client.id %}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}