{% extends "layout.html" %}

{% block title %}Index.html{% endblock %}

{% block content %}


<div id="app">
    <br/>
    <div class="row justify-content-md-center">
         <div class="row">
             <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  v-model="yearSelected">
              <option v-for="(year, key) in years" :selected="year == yearSelected">[[year]]</option>
            </select>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" @change="onChange">
              <option :value="yearSelected + '-' + parseInt(key +1) " v-for="(month, key) in months" :selected="months[(key)] == monthSelected">[[month]] / [[yearSelected]]</option>
            </select>
            <div class="col">
                <input type="checkbox" id="cakeMaker" @change="onChangeCheckbox" v-model="isChecked">
                <label for="cakeMaker">Exibir somente Boleiras </label>
            </div>
         </div>
    </div>

    <br/><br/><br/>
    <!-- div Google chart  -->
    <div class="row">
        <div class="col">
            <div class="row justify-content-md-center" ><h3>Arrecadação: <span class="badge badge-secondary"> R$ [[ vue_totalMensal ]] </span></h3></div>
            <div id="chartPizza" class="row justify-content-md-center" style="width: 800px; height: 550px;" > </div>
        </div>

        <div class="col">
            <div class="row justify-content-md-center">

                <table class="table" style="width: 500px;">
                    <thead>
                        <tr>
                            <th>Arrecadação</th>
                            <th>Despesas</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="badge badge-secondary">R$ [[ vue_totalMensal ]]</span></td>
                            <td><span class="badge badge-secondary">R$ [[ vue_despesasTotal ]]</span></td>
                            <td><span class="badge badge-secondary">R$ [[ vue_totalMensal - vue_despesasTotal ]]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-md-center">
                <div id="curve_chart" style="width: 750px; height: 480px;"></div>
            </div>
        </div>

    </div>



</div>

    {% load static %}
    <script type="text/javascript" src="{% static '/order_control/js/lib/vue.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/lib/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/lib/loader.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/objects.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static '/order_control/js/vue.js' %}"></script>

{% endblock %}